<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Recognition</title>
  <link href="/css/app.css" rel="stylesheet" type="text/css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="panel">
      <div id="header">
        <h1>Finding Missing Chilren and Crimimals Using Face Recognition</h1>
      </div>
  </div>
  <div>
    <p id="intro">
      This website takes input an image with a face in it and processes the image to find matches in the database. If a match is found, the details of the person is displayed on the screen and a prompt is sent to the police.
    </p>
  </div>
  <div id="buttons">
    <button>Upload an image</button>
    <button>Take a photo</button>
  </div>
</body>
</html>