body {
       background-image: url("img.png");
       min-height: 100vh;
}

.panel {
  padding-left: 100px;
  padding-top: 50px;
  color: white;
  width: 900px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

#intro {
  width: 700px;
  padding-left: 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

#buttons {
  display: inline-block;
  padding-top: 10px;
  width: 900px;
  padding-left: 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 300;
}

button {
  background: none;
  color: white;
  border: 2px solid;
  padding: 1em 2em;
  margin: 5px;
  font-size: 1em;
  transition: all 0.25s;
}

button:hover {
  border-color: white;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.25em);
  cursor: pointer;
}
